html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
    background: white;
}

jdiv[class*="headerBox"],
jdiv[class*="wrap_"][class*="show_"][class*="__jivoMobileButton"][class*="_orinationLeft"],
jdiv[class*="popup_"] {
  display:none !important;
}

jdiv[class*=mobile_] [class*=body] {
	top: 0px !important;
}

.hidden {
	display: none !important;
}

body.no-files jdiv[class*="input_"] [class*="tdTextarea"] {
	padding-left: 10px !important;
}

body.no-files jdiv[class*="iconPanel_"] {
	display: none !important;
}

@keyframes rotato {
	0% {
		transform:rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	100% {
		transform:rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes rotato {
	0% {
		transform:rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	100% {
		transform:rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

.loading {
	padding-top:10px;
	position:absolute;
	top:calc(50% - 50px);
	left:50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50% );
}
.loading .logos {
	height: 192px;
	width: 192px;
	margin-left: auto;
	margin-right: auto;
}
.loading img {
	transform-origin: 95px 93.5px;
	-webkit-transform-origin: 95px 93.5px;
	display: block;
	height:192px;
	position:absolute;
}
.loading .logo {
	animation: rotato 3s infinite linear;
	-webkit-animation: rotato 3s infinite linear;
}
.loading .loading-text-top {
	text-align: center;
	font-size: 38px;
	margin-bottom: 25px;
}
@media screen and (max-width: 991px) {
	.loading .loading-text-top {
		font-size: 24px;
	}
}
.loading .loading-text-top em {
	font-style: normal;
	color: #fdb914;
}
.loading .loading-text-bottom {
	margin-top:20px;
	text-align: center;
	color: #888;
}
.not-scrollable {
	overflow-y: hidden;
	overflow: hidden;
}

body > .ng-dropdown-panel {
	z-index: 1900001;
}

.fake-container-input-show {
    visibility: visible!important;
    animation: 0s none;
    backface-visibility: visible;
    background: none;
    border: 0;
    box-shadow: none;
    box-sizing: content-box;
    caption-side: top;
    clear: none;
    clip: auto;
    cursor: auto;
    direction: ltr;
    flex: none;
    hyphens: manual;
    image-rendering: auto;
    justify-content: flex-start;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    object-fit: fill;
    order: 1;
    orphans: 2;
    outline: 0 none;
    overflow: visible;
    padding: 0;
    perspective: none;
    resize: none;
    right: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-overflow: clip;
    text-shadow: none;
    text-transform: none;
    top: auto;
    transform: none;
    transition: all 0s ease 0s;
    unicode-bidi: normal;
    user-select: none;
    vertical-align: baseline;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    zoom: normal;
    filter: none!important;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: currentColor;
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto!important;
    background-color: #fff;
    opacity: 1!important;
    width: 100%;
    z-index: 3;
    display: block;
}

.fake-input-mobile {
    visibility: visible!important;
    animation: 0s none;
    backface-visibility: visible;
    border: 0;
    box-shadow: none;
    box-sizing: content-box;
    bottom: auto;
    caption-side: top;
    clear: none;
    clip: auto;
    cursor: auto;
    direction: ltr;
    flex: none;
    height: auto;
    hyphens: manual;
    image-rendering: auto;
    justify-content: flex-start;
    left: auto;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    max-height: none;
    max-width: none;
    min-width: 0;
    object-fit: fill;
    opacity: 1;
    order: 1;
    orphans: 2;
    outline: 0 none;
    overflow: visible;
    padding: 0;
    perspective: none;
    position: static;
    resize: none;
    right: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-overflow: clip;
    text-shadow: none;
    text-transform: none;
    top: auto;
    transform: none;
    transition: all 0s ease 0s;
    unicode-bidi: normal;
    user-select: none;
    vertical-align: baseline;
    white-space: normal;
    width: auto;
    word-break: normal;
    word-spacing: normal;
    z-index: auto;
    zoom: normal;
    filter: none!important;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: currentColor;
    background: #fff;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 8px;
    min-height: 44px;
    border-top: none;
    display: block;
}

.fake-text-area-container {
    visibility: visible!important;
    animation: 0s none;
    backface-visibility: visible;
    background: none;
    border: 0;
    box-shadow: none;
    box-sizing: content-box;
    bottom: auto;
    caption-side: top;
    clear: none;
    clip: auto;
    cursor: auto;
    direction: ltr;
    flex: none;
    height: auto;
    hyphens: manual;
    image-rendering: auto;
    justify-content: flex-start;
    left: auto;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    object-fit: fill;
    opacity: 1;
    order: 1;
    orphans: 2;
    outline: 0 none;
    overflow: visible;
    padding: 0;
    perspective: none;
    resize: none;
    right: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-overflow: clip;
    text-shadow: none;
    text-transform: none;
    top: auto;
    transform: none;
    transition: all 0s ease 0s;
    unicode-bidi: normal;
    user-select: none;
    vertical-align: baseline;
    white-space: normal;
    width: auto;
    word-break: normal;
    word-spacing: normal;
    z-index: auto;
    zoom: normal;
    filter: none!important;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: currentColor;
    display: block;
    position: relative;
    padding-bottom: 0;
    padding-left: 10px;
}

.fake-text-area {
    visibility: visible!important;
    -webkit-font-smoothing: antialiased;
    animation: 0s none!important;
    backface-visibility: visible!important;
    background: none!important;
    box-shadow: none!important;
    bottom: auto!important;
    caption-side: top!important;
    clear: none!important;
    clip: auto!important;
    cursor: auto!important;
    direction: ltr!important;
    flex: none!important;
    hyphens: manual!important;
    image-rendering: auto!important;
    justify-content: flex-start!important;
    left: auto!important;
    letter-spacing: normal!important;
    margin: 0!important;
    max-width: none!important;
    min-width: 0!important;
    object-fit: fill!important;
    opacity: 1!important;
    order: 1!important;
    orphans: 2!important;
    perspective: none!important;
    position: static!important;
    right: auto!important;
    text-align: left!important;
    text-decoration: none!important;
    text-indent: 0!important;
    text-overflow: clip!important;
    text-shadow: none!important;
    text-transform: none!important;
    top: auto!important;
    transform: none!important;
    transition: all 0s ease 0s!important;
    unicode-bidi: normal!important;
    vertical-align: baseline!important;
    word-break: normal!important;
    word-spacing: normal!important;
    z-index: auto!important;
    zoom: normal!important;
    font-style: normal!important;
    font-weight: 400!important;
    filter: none!important;
    display: block!important;
    padding: 18px 58px 0 16px!important;
    max-height: 90px!important;
    resize: none!important;
    font-family: Arial,sans-serif;
    overflow: hidden!important;
    box-sizing: border-box!important;
    border: none!important;
    overflow-y: hidden!important;
    outline: none!important;
    white-space: pre-wrap!important;
    user-select: text!important;
    float: none!important;
    -webkit-text-fill-color: #222d38!important;
    border-radius: 28px!important;
    padding-top: 12px!important;
    padding-left: 20px!important;
    background-color: #f1f0f0!important;
    min-height: 44px!important;
    line-height: normal!important;
    width: 100%!important;
    color: #222d38!important;
    font-size: 16px!important;
    height: 47px!important;
}

.fake-send-button {
    visibility: visible!important;
    animation: 0s none;
    backface-visibility: visible;
    background: none;
    border: 0;
    box-shadow: none;
    box-sizing: content-box;
    bottom: auto;
    caption-side: top;
    clear: none;
    clip: auto;
    display: inline;
    direction: ltr;
    flex: none;
    hyphens: manual;
    image-rendering: auto;
    justify-content: flex-start;
    left: auto;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    object-fit: fill;
    opacity: 1;
    order: 1;
    orphans: 2;
    outline: 0 none;
    overflow: visible;
    padding: 0;
    perspective: none;
    resize: none;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-overflow: clip;
    text-shadow: none;
    text-transform: none;
    transform: none;
    transition: all 0s ease 0s;
    unicode-bidi: normal;
    user-select: none;
    vertical-align: baseline;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    zoom: normal;
    filter: none!important;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: currentColor;
    position: absolute;
    z-index: 10;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-size: 98%;
    cursor: pointer;
    top: 50%;
    right: 14px;
    margin-top: -18px!important;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h32v32H0z%22%2F%3E%0A%20%20%20%20%3Ccircle%20cx%3D%2216%22%20cy%3D%2216%22%20r%3D%2216%22%20fill%3D%22%23445669%22%2F%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23ffffff%22%20fill-rule%3D%22nonzero%22%20d%3D%22M11.35%2022.482l.697-4.32%208.84-2.16-8.84-2.16-.697-4.32%2013.355%206.48-13.355%206.48zm.301.65c-.513.25-1.087-.194-.995-.768l.697-4.32a.713.713%200%200%201%20.53-.583l8.841-2.16v1.4l-8.84-2.16a.713.713%200%200%201-.531-.582l-.697-4.32c-.092-.574.482-1.017.995-.768l13.355%206.48c.537.26.537%201.041%200%201.301l-13.355%206.48z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}

.fake-send-button.disabled {
	background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h32v32H0z%22%2F%3E%0A%20%20%20%20%3Ccircle%20cx%3D%2216%22%20cy%3D%2216%22%20r%3D%2216%22%20fill%3D%22%23f1f0f0%22%2F%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23dedede%22%20fill-rule%3D%22nonzero%22%20d%3D%22M11.35%2022.482l.697-4.32%208.84-2.16-8.84-2.16-.697-4.32%2013.355%206.48-13.355%206.48zm.301.65c-.513.25-1.087-.194-.995-.768l.697-4.32a.713.713%200%200%201%20.53-.583l8.841-2.16v1.4l-8.84-2.16a.713.713%200%200%201-.531-.582l-.697-4.32c-.092-.574.482-1.017.995-.768l13.355%206.48c.537.26.537%201.041%200%201.301l-13.355%206.48z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}
